# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment
.env

# Static
staticfiles/

# Node
node_modules/
package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tailwind
node_modules/
